.question-view {
  display: flex;
  flex-direction: row;
}

.categories-list {
  flex-basis: 25%;
  flex-shrink: 2;
  padding: 0 20px;
}

.categories-list > form {
  width: 60%;
}

.categories-list a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  padding: 0.4em 1em;
  border-radius: 3px;
  text-decoration: none;
}

.categories-list .active a,
.categories-list a:hover {
  background-color: #eee;
}

.categories-list img.category {
  order: -1;
  margin-right: 0.5em;
  width: 1.25em;
}

.questions-list {
  flex-basis: 75%;
  text-align: center;
  padding: 0 20px;
}

.questions-list .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Question-holder {
  padding: 10px 20px;
  text-align: left;
  margin: 0;
  background-color: #eee;
  border-radius: 10px;
}

.Question-holder + .Question-holder {
  margin-top: 1em;
}

.Question-status {
  display: flex;
  flex-direction: row;
  height: 30px;
  width: 200px;
  align-items: center;
  justify-content: space-between;
}

.Question {
  font-size: 21px;
  width: 100%;
}

.answer-holder {
  display: flex;
  align-items: center;
}

.answer-holder span {
  font-size: 20px;
  margin-left: 2em;
}

.show-answer {
  font-size: 14px;
  padding: 0.3em 0.5em;
}

span.page-num {
  margin: 5px;
  padding-bottom: 50px;
  /* color: blue; */
  font-weight: bolder;
  text-decoration: underline;
  font-size: 16px;
}

span.page-num.active {
  color: blue;
}

.Question-holder .infos {
  display: flex;
  align-items: center;
}

.Question-holder .category {
  display: flex;
  align-items: center;
  margin-right: 2em;
}

.Question-holder .category img {
  width: 30px;
  margin-right: 0.5em;
}

.Question-holder .delete {
  margin-left: auto;
}

img.delete {
  padding: 5px;
  width: 30px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 3px;
}

img.delete:not(:hover) {
  opacity: 0.6;
}

.Search {
  display: flex;
  position: relative;
}

.Search input {
  padding: 0 0.5em;
  font-size: 16px;
  transform: translate(3px, 0);
}

.Search button {
  font-size: 12px;
  position: relative;
  z-index: 1;
}
